<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="sensor">
            <h2><span jhiTranslate="iIoTapplicationApp.sensor.detail.title">Sensor</span> {{ sensor.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="iIoTapplicationApp.sensor.sensorName">Sensor Name</span></dt>
                <dd>
                    <span>{{ sensor.sensorName }}</span>
                </dd>
                <dt><span jhiTranslate="iIoTapplicationApp.sensor.tipSensor">Tip Sensor</span></dt>
                <dd>
                    <span>{{ sensor.tipSensor }}</span>
                </dd>
                <dt><span jhiTranslate="iIoTapplicationApp.sensor.description">Description</span></dt>
                <dd>
                    <span>{{ sensor.description }}</span>
                </dd>
                <dt><span jhiTranslate="iIoTapplicationApp.sensor.equipment">Equipment</span></dt>
                <dd>
                    <div *ngIf="sensor.equipment">
                        <a [routerLink]="['/equipment', sensor.equipment?.id, 'view']">{{ sensor.equipment?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/sensor', sensor.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
